{{define "index"}}
    <main class="px-3">
        <h1>Resume.</h1>
        <p class="lead">Информация:</p>
        <br>
        <p class="lead">пользователь: {{.Name}}</p>
        <p class="lead">возраст: {{.Age}}</p>
        <p class="lead">счет: {{.Money}}</p>

        <p class="lead">
            <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
        </p>

    <!-- Вывод по условию -->
    {{if eq .name "Vasia"}}  <!-- eq - равно,  ne - not equal, lt - lower then, gt - greater then-->
    <span> YYou, hello!</span>
    {{else}}
    <span>Не знаю такого!</span>
    {{end}}

    <!--  Вывод в цикле ... -->
    <p class="lead"> Хобби:</p>
    <ul>
        {{range .Hobbies}}
        <li>
            <b>
                {{ . }}
            </b>
        </li>
        {{end}}
    </ul>
    </main>
 {{end}}